@font-face {
    font-family: 'SFAlienEncounters';
    src: url('SFAlienEncounters.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13pt;
  line-height: 1.3;
  border-top: 5px solid red;
}

#main {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
}

a {
  color: red;
}

span.red {
  color: red;
}

h1 {
  margin: 0;
  font-family: 'SFAlienEncounters';
  font-size: 50pt;
  font-weight: normal;
  font-style: normal;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline;
}

nav a {
  padding: 5px 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
  background-color: red;
}
